<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand">Colombia en Tokio 2020</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" [ngClass]="{active: router.url == '/home'}" *ngIf="authService.isCurrentUserAuthenticated()">
        <a class="nav-link" [routerLink]="['/home']"> Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [ngClass]="{active: router.url == '/athletes'}" *ngIf="authService.isCurrentUserAuthenticated()">
        <a class="nav-link" [routerLink]="['/athletes']"> Atletas <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" *ngIf="!authService.isCurrentUserAuthenticated()">
        <a class="nav-link">Registro</a>
      </li>
      <li class="nav-item" [ngClass]="{active: router.url == '/login'}" *ngIf="!authService.isCurrentUserAuthenticated()">
        <a class="nav-link">Login</a>
      </li>
      <li class="nav-item active" *ngIf="authService.isCurrentUserAuthenticated()">
        <a class="nav-link" (click)="logout()">Cerrar sesión</a>
      </li>
    </ul>