<div class="row pt-3">
  <div class="col-lg-4 col-xl-4 col-sm-6 col-md-6 col-12">
    <div class="alert alert-warning" role="alert" style="width: 900px;" *ngIf="athlete.participations.length === 0">
      Sin participaciones
    </div>
    <table class="table table-hover" style="width: 900px;" *ngIf="athlete.participations.length !== 0">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Deporte</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Resultado</th>
        <th scope="col">Video</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let participation of athlete.participations, let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ participation.datetime  | date:'dd/MM/yyyy' }}</td>
        <td>{{ participation.datetime  | date:'HH:mm' }}</td>
        <td>{{ participation.modality.sport.name }}</td>
        <td>{{ participation.modality.name }}</td>
        <td>{{ participation.result }}</td>
        <td>
          <button class="btn btn-danger" (click)="selectVideo(participation)" data-toggle="modal"
                  data-target="#videoModal">&#x25B9;</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modalCss" role="document" style="max-width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Video de participación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <youtube-player width="580px" videoId="{{ selectedParticipation.youtube_id }}"></youtube-player>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    
      <div>
        <div class="alert alert-warning" role="alert" style="width: 900px;" *ngIf="selectedParticipation.commentaries.length === 0">
          Sin comentarios
        </div>
        <table class="table table-hover" style="width: 900px;" *ngIf="selectedParticipation.commentaries.length !== 0">
          <thead>
          <tr>
            <th scope="col">Comentario</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comment of selectedParticipation.commentaries, let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ comment.comment }}</td>
            
          </tr>
          </tbody>
        </table>
      </div>
      
        <div class="card mx-auto px-4 pt-4 pb-4 mt-3 mb-3" style="width: 80%;">
          <div class="form-group">
            <label for="name">Añadir comentario</label>
            <input type="text" class="form-control" [(ngModel)]="newComment"/>
          </div>
          <div class="form-group">
            <button (click)="addComment()" class="btn btn-primary">Enviar</button>
          </div>
        </div>
  </div>
</div>
