<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="card w-50">
      <h4 class="card-header">Inicio de sesión</h4>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">El nombre de usuario es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary" (click)="login()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Iniciar sesión
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
